/* ----- Google Font Import ----- */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

*{
	font-family: 'IBM Plex Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----- Veriables ----- */

:root{	
	/* ----- Colors ----- */
	--body-color: #E4e9f7;
	--sidebar-color: #fff;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #000;
	--text2-color: #fff;
	--icon-color: #000;
	--icon2-color: #000;
}

/* ----- Conteners HTML ----- */

body{
	overflow: hidden;
	height: 100vh;
	background: var(--body-color);
	background: url('https://kozminska.home.pl/img/background_logPage3.png') no-repeat;
	background-size: cover;
	background-position: center;	
}

/* ----- Bootstrap elements ----- */

.mb-4{
	margin-top: -14px;
}

/* ----- Class elements ----- */

.btn-primary{
	width: 520px;
	height: 68px;
	border-radius: 12px !important;
	margin-left: 40px;
	margin-top: -26px;
	background: black !important;
	font-size: 45px !important;
	border: transparent !important;
	text-align: center !important;
	line-height: 34px !important;
	font-weight: 500 !important;
}

.col{
	margin-top: 20px;
}
.col a{
	margin-left: 26px;
	font-size: 16px !important;
	color: #6d6d6d;
	
}

.col a:hover{
    color: #695cfe;
    text-decoration: underline;
}

.form-box{
	width: 600px;
	height: 500px;
	position: absolute;
	left: 5%;
	top:49%;
}

.form-box .form-outline input{
	min-width: 440px;
	width: 440px;
	margin-left: 125px;
	margin-top: -56px;
	margin-bottom: 85px;
	background: transparent;
	font-size: 25px;
	padding-left: 20px; 
	border-color: transparent;
	border: none;
	color: #6d6d6d;
}

.form-check {
	font-size:25px;
	margin-left: -230px;
	margin-top: -120px;
}

.form-check input[type="checkbox"]{
	display: flex;
	flex-direction: column;
	background: #fff;
	border: transparent;
	width: 24px;
	height: 24px;
	margin-top: 10px;
	accent-color: black;
	margin-left: -82px;
}

.form-check label{
	margin-left: 10px;
	margin-top: -28px !important;
	font-size: 16px !important;
	color: #6d6d6d;
}

.form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(105, 92, 254)!important;
}

.form-outline i{
	margin-left: 40px;
	font-size: 40px;
	color: #fff !important;
	background: #000;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ----- Id elements ----- */

#line1{
	width: 430px;
	height: 2px;
	margin-top: -190px;
	margin-left: 128px;
	z-index: -1;
}

#line2{
	width: 430px;
	height: 2px;
	margin-top: -190px;
	margin-left: 128px;
	z-index: -1;
}

#log{
	margin-top: -70px !important;
}

#pas{
	margin-top: -70px !important;
}

#textLine1{
	padding-top: 60px;
	position: flex;
	font-size: 80px !important;
	font-weight: 100 !important;
	text-align: center;
}

#textLine2{
	padding-top: 10px;
	position: flex;
	font-size: 40px !important;
	font-weight: 100 !important;
	text-align: center;
}